@page "/Item/{Type}/{Id}"

@using CosmosDBData
@using CosmosDBService.DTO.Product

@inject ICosmosDBContext cosmosDB;


<h3>Item @Id</h3>
@if (product != null)
{
    <span>@product.Id</span><br>
    <span>@product.Type</span><br>
    <span>@product.Image</span><br>
    <span>@product.Name</span><br>
    <span>@product.Path</span><br>
    <span>@product.Price</span><br>
    <span>@product.PriceUnit</span><br>
}

@code 
{
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Type { get; set; }


    private AbstractBaseProductDTO? product { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        switch (Type)
        {
            case "tool":
                product=await cosmosDB.GetProduct<ToolProductDTO>(Id);
                break;
            case "furniture":
                product=await cosmosDB.GetProduct<FurnitureProductDTO>(Id);
                break;
            case "food":
                product=await cosmosDB.GetProduct<FoodProductDTO>(Id);
                break;
            case "apperal":
                product=await cosmosDB.GetProduct<ApperalProductDTO>(Id);
                break;
            default:
                product=await cosmosDB.GetProduct<ProductCardDTO>(Id);
                break;

        }


        
        

        await base.OnParametersSetAsync();

    }
}
